<div>
  <h1>Eingabe</h1>
  <label for="varcount-input">Variablenanzahl: </label>
  <input type="number" id="varcount-input" [value]="variableCount" (change)="variableCountChanged($event)">
  <table>
    <tr>
      <ng-container *ngFor="let variableName of variableNames">
        <th>{{variableName}}</th>
      </ng-container>
      <th>result</th>
    </tr>
    <ng-container *ngFor="let minterm of mintermList">
      <tr>
        <td *ngFor="let value of minterm.values">
          <app-variable-input></app-variable-input>
        </td>
        <td>
          <app-variable-input [possibleSelections]="[{label:'0', value:0},{label:'1', value:1}]"></app-variable-input>
        </td>
        <button (click)="removeTerm(minterm)">delete</button>
      </tr>
    </ng-container>
  </table>
  <button (click)="addNewTerm()">add new term</button>
</div>
