table {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
.example-container {
  min-width: available;
  width: 100%;
  display:flex ;
  padding-bottom: 25px;
  padding-top: 25px;
  overflow: auto;
}
.mat-row {
  text-align: center;
}
.mat-cell, .mat-header-cell{
  padding-right: 10px;
  text-align: center;
  padding-left: 10px;
}
.mat-header-cell{
  border-bottom: 1px solid currentColor;
}

.mat-column-sum, .mat-column-result{
  border-right: 1px dashed currentColor;
}
