table {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
.example-container {
  min-width: available;
  width: 100%;
  display:flex ;
  padding-bottom: 25px;
  padding-top: 25px;
  overflow: auto;
}
.mat-row {
  border-right: 1px solid currentColor;
  border-left: 1px solid currentColor;
  text-align: center;
}
.mat-cell, .mat-header-cell{
  padding-right: 10px;
  text-align: center;
  padding-left: 10px;
}
